@import "tailwindcss";

@font-face {
    font-family: "Agave";
    src: url("../public/fonts/AgaveNerdFontPropo-Regular.ttf")
        format("truetype");
    font-display: swap;
}

@theme {
    --font-agave: "Agave Propo Regular", "Agave";
}

* {
    font-family: "Agave", Arial, sans-serif;
}

body {
    margin: calc(var(--spacing) * 5);
}
